{% extends 'base.html' %}{% load static %}{% load bootstrap4 %}{% block title %}{% if form.instance.pk %}Update Student{% else %}Add Student{% endif %}{% endblock %}{% block content %}<div class="container-fluid"><div class="d-sm-flex align-items-center justify-content-between mb-4"><h1 class="h3 mb-0 text-gray-800">{% if form.instance.pk %}Update {{ student.full_name }}{% else %}Add New Student{% endif %}</h1></div><div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Student Details</h6>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary mt-3">
                {% if form.instance.pk %}Save Changes{% else %}Register Student{% endif %}
            </button>
            <a href="{% url 'students:student_list' %}" class="btn btn-secondary mt-3">Cancel</a>
        </form>
    </div>
</div>
</div>
{% endblock %}