{% extends 'auth_base.html' %}
{% load bootstrap4 %}

{% block title %}Login - Friends Kikai Boys High School{% endblock %}

{% block content %}
<h5 class="card-title text-center mb-4">Login to your account</h5>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary btn-auth mt-3">
        <i class="fas fa-sign-in-alt mr-2"></i>Login
    </button>
</form>
{% endblock %}

{% block auth_links %}
<div class="auth-links">
    <p class="mb-0">Don't have an account? <a href="#">Contact Administrator</a></p>
</div>
{% endblock %}